/* src/static_files/css/styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #3c4e6b;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li {
    width: calc(33% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3c4e6b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

a.button:hover {
    background-color: #5d7192;
}